.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: transparent; /* IMPORTANT */
  outline: black solid 1px;
  box-sizing: border-box;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

body {
    width: 400px;
    height: 90px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;

}

    

    
    .slidecontainer {
      width: 100%;
    }
    
    .labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    .labels p {
      margin: 0;
      font-size: 14px;
      font-weight: bold;
    }
    

    
 
    
    .value-display {
      text-align: center;
      margin-top: 10px;
      font-size: 12px;
      color: #666;
    }
